body {
    background-image: url('img/back.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#Weather_App {
    left: 77.537px;
    top: 3.201px;
    position: absolute;
    overflow: visible;
    width: 175px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    color: rgba(255,255,255,1);
}


.logo{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

     }

.logo img{

    width: 50px;
    height: 40px;
}


.card {
    width: 300px; /* Adjust the width as needed */
    height: 150px; /* 10:5 aspect ratio */
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.upper {
    background-image: url('your-image.jpg'); /* Replace with your background image URL */
    background-size: cover;
    height: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.lower div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}